.container {
  height: 100vh;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 36px;
  color: #8B0000;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border: 2px solid #FFD700;
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
  border-radius: 12px;
  padding: 5px 20px;
  display: none;
}

.carousel-wrapper {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel {
  height: 100%;
  gap: 50vw;
  display: flex;
  align-items: center;
  padding-left: calc(50vw - 250px);
  padding-right: calc(50vw - 250px);
}